{% extends "admin_base.html" %}

{% block title %}Add a Gametype{% endblock %}

{% block content %}
<div class="col-9">
	<h3 class="nopad">Add new Gametype</h3><hr />
	{% if get.error is defined and get.error != 1 %}
		<div class="alert alert-danger"><i class="fa fa-warning"></i>
		{% if get.error == 'n_fail' %}
			Gametype name not entered.
		{% elseif get.error == 'm_fail' %}
			The gametype name you entered does not meet the requirements (3-12 characters, a-zA-Z0-9_.-).
		{% else %}
			Undefined error occured.
		{% endif %}
		</div>
	{% endif %}
    {% if srvgametype|length > 0 %}
        <div class="form-group col-4 nopad">
            <h4>Your Network Gametypes</h4></hr>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Servers Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for gemetype in srvgametype %}
                        <tr>
                            <td><a href="#" name="gametype_id" value="{{ gemetype.id }}">{{ gemetype.name }}</a></td>
                            <td>{{ gemetype.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="#" data-toggle="modal" data-target="#toggle_popup" id="t_popup">Add New Gametype</a>
        </div>
    {% else %}
        <div class="alert alert-info">
            You do not currently have any Gametypes listed on your account.
        </div>
        <a href="#" data-toggle="modal" data-target="#toggle_popup" id="t_popup">Add New Gametype</a>
    {% endif %}
</div>

{% endblock %}

{% block javascript %}
<div class="modal fade" id="toggle_popup" tabindex="-1" role="dialog" aria-labelledby="AddNewGametype" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="add_new_ip">Add New Gametype</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-1"></div>
					<div class="col-10">
						<form action="ajax/new/gametype.php" method="POST">
							<fieldset>
								<div class="well">
									<h4>Dodawanie nazwy trybu gry</h4>
									<div class="row">
										<div class="form-group col-4 nopad">
											<label for="gametype_name" class="control-label">Gametype name</label>
											<div>
												<input type="text" autocomplete="off" name="gametype_name" class="form-control" />
												<p class="text-muted" style="margin: 0 0 -10.5px;"><small><em>Gametype name np: CTP (3-12 characters, a-zA-Z0-9_.-)</em></small></p>
											</div>				
										</div>
										<input type="submit" value="Add Version" name="gametype_add_button" class="btn btn-primary btn-sm" style="margin: 24px 20px 0;"/>	
									</div>
								</div>
							</fieldset>
						</form>	
					</div>
					<div class="col-1"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}