{% extends "admin_base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="col-9">
    <div class="row">
        <div class="form-group col-4 nopad-right">
            <h3>Network Status</h3><hr>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-4 nopad">
            <h4 style="margin-bottom: 0px; text-align: center;">Servers online/offline</h4>
            <div id="serversamount" style="width: 230px; height: 230px;"></div>
        </div>
        <div class="form-group col-4 nopad">
            <h4 style="margin-bottom: 0px; text-align: center;">Ram Allocated</h4>
            <div id="ramamount" style="width: 230px; height: 230px;"></div>
        </div>
        <div class="form-group col-4 nopad">
            <h4 style="margin-bottom: 0px; text-align: center;">Disk avalible</h4>
            <div id="diskamount" style="width: 230px; height: 230px;"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data1 = google.visualization.arrayToDataTable([
          ['Status', 'onof'],
          ['Online',     {{ srvgametype.online }}],
          ['Offline',      {{ srvgametype.offline }}]
        ]);
        var data2 = google.visualization.arrayToDataTable([
          ['Status', 'onof'],
          ['Avalible',      {{ usedram }}],
          ['Allocated',     {{ ramservers }}]
        ]);
        var data3 = google.visualization.arrayToDataTable([
          ['Status', 'onof'],
          ['Unallocated',      {{ useddisk }}],
          ['Allocated',     {{ diskservers }}]
        ]);

        var options1 = {
          legend: 'bottom',
          pieHole: 0.6,
          pieSliceText: 'none',
          fontName: 'Helvetica',
          slices: {
            0: { color: '00EE00' },
            1: { color: 'CC2200' }
          }
        };
        var options2 = {
          legend: 'bottom',
          pieHole: 0.6,
          pieSliceText: 'none',
          fontName: 'Helvetica',
          slices: {
            0: { color: '00EE00' },
            1: { color: 'CC2200' }
          }
        };
        var options3 = {
          legend: 'bottom',
          pieHole: 0.6,
          pieSliceText: 'none',
          fontName: 'Helvetica',
          slices: {
            0: { color: '00EE00' },
            1: { color: 'CC2200' }
          }
        };

        var chart1 = new google.visualization.PieChart(document.getElementById('serversamount'));
        chart1.draw(data1, options1);

        var chart2 = new google.visualization.PieChart(document.getElementById('ramamount'));
        chart2.draw(data2, options2);

        var chart3 = new google.visualization.PieChart(document.getElementById('diskamount'));
        chart3.draw(data3, options3);

      }

</script>
{% endblock %}