{% extends "admin_base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="col-9">
    <ul class="nav nav-tabs" id="engine_tabs">
        <li class="active"><a href="#network_summary" data-toggle="tab">Summary for network</a></li>
        <li><a href="#group_summary" data-toggle="tab">Summary for group</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="network_summary">
            <form action="summary_network.php" method="POST">
                <fieldset>
                    <div class="row">
                        <div class="form-group col-6 nopad">
                            <h3>Summary for Network</h3>
                        </div>
                        <div class="form-group col-3 nopad" style="margin-top: 20px;">
                            <select class="form-control" name="network_name">
                                <option value="#">---</option>
                                {% for name in networkname %}
                                    <option value="{{ name.id }}">{{ name.name }}</option>
                                {% endfor %}
                            </select>           
                        </div>
                        <div class="form-group col-3 nopad-right" style="margin-top: 20px;">
                            <input type="submit" value="Search" name="network_summary" class="btn btn-primary btn-sm"/> 
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="form-group col-3 nopad">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Gametype</th>
                            <th>Online</th>
                            <th>Offline</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for id in srvgametype %}
                            <tr>
                                <td><a href="summary_gametype.php?id={{ id.id }}&networkid={{ id.networkid }}">{{ id.name }}</a></td>
                                <td>{{ id.online }}</td>
                                <td>{{ id.offline }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="group_summary">
            <form action="summary_gametype.php" method="POST">
                <fieldset>
                    <div class="row">
                        <div class="form-group col-6 nopad">
                            <h3>Summary for Group</h3>
                        </div>
                        <div class="form-group col-2 nopad" style="margin-top: 20px;">
                            <select class="form-control" name="network_name">
                                <option value="---">---</option>
                                {% for name in networkname %}
                                    <option value="{{ name.id }}">{{ name.name }}</option>
                                {% endfor %}
                            </select>               
                        </div>
                        <div class="form-group col-2 nopad-right" style="margin-top: 20px;">
                            <select class="form-control" name="gametype_name">
                                <option value="---">---</option>
                                {% for name in gametype %}
                                    <option value="{{ name.id }}">{{ name.name }}</option>
                                {% endfor %}
                            </select>               
                        </div>
                        <div class="form-group col-2 nopad-right" style="margin-top: 20px;">
                            <input type="submit" value="Search" name="network_summary" class="btn btn-primary btn-sm"/> 
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}

{% endblock %}