{% extends "developer_base.html" %}

{% block title %}Delete a Node{% endblock %}

{% block content %}
<div class="col-9">
    <h3 class="nopad">Delete Node</h3><hr />
    {{ output|raw }}
    <form action="ajax/delete/delete.php" method="POST">
        <fieldset>
            <div class="well">
                <div class="row">
                    <label for="server_name" class="control-label">Server Node</label>
                    {% if nodes[0]|length > 0 %}
                        <select name="node" id="getNode" class="form-control col-6">
                            {% for node in nodes %}
                                <option value="{{ node.id }}">{{ node.node }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <div class="alert alert-info">There are currently no nodes that can be deleted. Only nodes which have no servers attached to them can be removed from the panel.</div>
                    {% endif %}
                </div>
            </div>
            <div class="alert alert-danger"><input type="checkbox" name="read_warning" /> I understand deleting a node is non-reversible and I will be unable to undo this action.</div>
            <input type="submit" value="Delete Node" id="disable_complete" class="btn btn-primary btn-sm disabled" />
        </fieldset>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
	$("input[name='read_warning']").click(function () {
	    if ($("input[name='read_warning']").is(":checked"))
		$("#disable_complete").removeClass("disabled");
	    else
		$("#disable_complete").addClass("disabled");
	});
    });
</script>
{% endblock %}
