{% extends "developer_base.html" %}

{% block title %}List All Nodes{% endblock %}

{% block content %}
<div class="col-9">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Node Name</th>
				<th>Location</th>
				<th>IP Address</th>
				<th>FTP Address</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for id, node in nodes %}
				<tr class="dynUpdatenode" id="{{ node.ip }}+{{ node.gsd_listen }}">
					<td><a href="view.php?id={{ node.id }}">{{ node.node }}</a></td>
					<td>{{ node.l_location }}</td>
					<td>{{ node.fqdn }}</td>
					<td>{{ node.ip }}</td>
					<td style="width:26px;"><i id="applyUpdatenode" class="fa fa-circle-o-notch fa-spinner fa-spin"></i></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$(document).ready(function(){
			$(".dynUpdatenode").each(function(index, data){
				var connection = $(this).attr("id");
				var element = $(this);
				$.ajax({
					type: "POST",
					url: "ajax/get_status.php",
					data: { ip: connection },
						success: function(data) {
							element.find("#applyUpdatenode").removeClass("fa-circle-o-notch fa-spinner fa-spin");
							element.find("#applyUpdatenode").addClass("fa-circle").css({"color": data});
						}
				});
			});
	});
</script>
{% endblock %}