{% extends "developer_base.html" %}

{% block title %}reCAPTCHA Settings{% endblock %}

{% block content %}
<div class="col-9">
	{{ output|raw }}
	<h3>reCAPTCHA Settings</h3><hr />
	<form action="actions/captcha.php" method="POST">
		<fieldset>
			<div class="form-group">
				<label for="pub_key" class="control-label">Public Key</label>
				<div>
					<input type="text" name="pub_key" class="form-control" value="{{ settings.captcha_pub }}"/>
				</div>
			</div>
			<div class="form-group">
				<label for="priv_key" class="control-label">Private Key</label>
				<div>
					<input type="text" name="priv_key" class="form-control" value="{{ settings.captcha_priv }}"/>
				</div>
			</div>
			<div class="form-group">
				<div>
					<p><a href="https://www.google.com/recaptcha/admin">Google reCAPTCHA</a></p>					
					<input type="submit" value="Update reCAPTCHA Settings" class="btn btn-primary" />
				</div>
			</div>
		</fieldset>
	</form>
</div>
{% endblock %}

{% block javascript %}{% endblock %}