{% extends "developer_base.html" %}

{% block title %}Developer Index{% endblock %}

{% block content %}
<div class="col-9">
    {% if installer == true %}
        <div class="alert alert-danger"><strong>WARNING!</strong> Please remove the install/ directory from Panel immediately to prevent any possible security holes.</div>
    {% endif %}
</div>
{% endblock %}

{% block javascript %}

{% endblock %}