{% extends "developer_base.html" %}

{% block title %}Network Create{% endblock %}

{% block content %}
<div class="col-9">
	<form action="ajax/new/create.php" method="post">
		<h3>Network Create</h3>
		<fieldset>
			<div class="well">
				<div class="row">
					<div class="form-group col-6 nopad">
						<label for="networkname" class="control-label">Network Name</label>
						<div>
							<input type="text" autocomplete="off" name="network_name" class="form-control" />
						</div>
					</div>
					<div class="form-group col-6 nopad-right">
						<label for="max_cpu" class="control-label">Max CPU</label>
						<div>
							<input type="text" autocomplete="off" name="max_cpu" class="form-control" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-6 nopad">
						<label for="max_ram" class="control-label">Max RAM</label>
						<div class="input-group">
							<input type="text" autocomplete="off" name="max_ram" class="form-control" />
							<span class="input-group-addon">
								<select name="max_ram_selector" style="margin-top:-1px;">
									<option value="0">Megabytes</option>
									<option value="1">Gigabytes</option>
								</select>
							</span>
						</div>	
					</div>
					<div class="form-group col-6 nopad-right">
						<label for="max_disk" class="control-label">Max DISK</label>
						<div class="input-group">
							<input type="text" autocomplete="off" name="max_disk" class="form-control" />
							<span class="input-group-addon">
								<select name="max_disk_selector" style="margin-top:-1px;">
									<option value="0">Megabytes</option>
									<option value="1">Gigabytes</option>
								</select>
							</span>
						</div>	
					</div>
				</div>
			</div>
			<h4>Network Owners</h4>
			<div class="well">
				<div class="row">
					<div class="form-group col-3 nopad">
						<div>
							<label for="allusers" class="control-label">All Users:</label>
							<select class="form-control" name="allusers" id="allusers" size="10" multiple>
							   	{% for user in users %}
									<option name="alluserss" value="{{ user.id }}">{{ user.username }}</option>
								{% endfor %}
							</select>	
						</div>
					</div>
					<div class="form-group col-1" style="padding-top:60px;">
						<a href="#" onclick="listbox_moveacross('allusers', 'selectedusers')" style="font-size:20px; text-decoration: none;">►</a>
						<br/><br/><br/><br/>
						<a href="#" onclick="listbox_moveacross('selectedusers', 'allusers')" style="font-size:20px; text-decoration: none;">◄</a>
					</div>
					<div class="form-group col-3 nopad">
						<div>
							<label for="selectedusers" class="control-label">Users selected:</label>
							<select class="form-control" name="selectedusers" id="selectedusers" size="10" multiple>
							</select>
						</div>
					</div>
					<div class="form-group col-5" style="float:right; font-size:12px;">
        				<div id="owner_search_results"></div>
					</div>					
				</div>
			</div>
		</fieldset>
	</form>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
function listbox_moveacross(sourceID, destID) {
    var src = document.getElementById(sourceID);
    var dest = document.getElementById(destID);
 
    for(var count=0; count < src.options.length; count++) {
 
        if(src.options[count].selected == true) {
                var option = src.options[count];
 
                var newOption = document.createElement("option");
                newOption.value = option.value;
                newOption.text = option.text;
                newOption.selected = true;
                try {
                         dest.add(newOption, null); //Standard
                         src.remove(count, null);
                 }catch(error) {
                         dest.add(newOption); // IE only
                         src.remove(count);
                 }
                count--;
        }
    }
}
    $(document).ready(function(){
        $("[name='alluserss']").click(function(){
            var ownerID = $(this).attr("value");
            $.ajax({
                type: "POST",
                url: "ajax/summary_owner.php",
                data: { method: "simple", owner_id: ownerID },
                success: function(data) {
                    $("#owner_search_results").slideUp(function(){
                        $("#owner_search_results").html();
                        $("#owner_search_results").html(data);
                        $("#owner_search_results").fadeIn(function(){
                            $("#ss_active_spin").html('&rarr;');
                            return false;
                        });
                    });
                }
            });
        });
        $('#special_case_dropdown a').click(function(e) {
            var radio = $(this).attr("href");
            $("input[value='"+radio+"']").prop("checked", true)
            e.preventDefault();
            e.stopPropagation();
        });
    });
</script>
{% endblock %}
