{% extends "developer_base.html" %}

{% block title %}Find Networks{% endblock %}

{% block content %}
<div class="col-9">
	<ul class="nav nav-tabs" id="config_tabs">
		<li class="active"><a href="#simple" data-toggle="tab">Search Network</a></li>
		<li><a href="#list_all" id="list_all_tab" data-toggle="tab">List All</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="simple">
			<h3>Simple Search</h3>
			<form id="ss_form" onsubmit="return false">
				<fieldset>
					<div class="form-group col-3 nopad">
						<div>
							<select class="form-control" name="field">
								<option value="name">Network Name</option>
								<option value="username" selected="selected">Username</option>
								<option value="email">Owner Email</option>
								<option value="network_user">Node User</option>
								<option value="max_cpu">Max CPU</option>
								<option value="max_ram">Max RAM</option>
								<option value="max_disk">Max CPU</option>
							</select>
						</div>
					</div>
					<div class="form-group col-2">
						<div>
							<select class="form-control" name="operator">
								<option value="equal">Equals</option>
								<option value="not_equal">Not Equal</option>
								<option value="like" selected="selected">Like</option>
								<option value="starts_w">Starts With</option>
								<option value="ends_w">Ends With</option>
							</select>
						</div>
					</div>
				<div class="form-group col-7 nopad-right">
					<div class="input-group">
							<input type="text" class="form-control" name="term" />
							<span class="input-group-btn">
								<button class="btn btn-primary" id="ss_active_spin" type="submit">&rarr;</button>
							</span>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="tab-pane" id="list_all">
			<h3>List all Networks</h3>
		</div>
	</div>
	<div id="search_results"></div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$(document).ready(function(){
		$("#ss_form").submit(function(){
			$("#ss_active_spin").html('<i class="fa fa-refresh fa-spin"></i>');
			var search_field = $('select[name="field"] :selected').val();
			var search_operator = $('select[name="operator"] :selected').val();
			var search_term = $('input[name="term"]').val();
			$.ajax({
				type: "POST",
				url: "ajax/search/network_search.php",
				data: { method: "simple", field: search_field, operator: search_operator, term: search_term },
				success: function(data) {
					$("#search_results").slideUp(function(){
						$("#search_results").html(data);
						$("#search_results").fadeIn(function(){
							$("#ss_active_spin").html('&rarr;');
							return false;
						});
					});
				}
			});
		});
		$("#list_all_tab").click(function(e){
			$("#list_all_tab").append(' <i class="fa fa-refresh fa-spin"></i>');
			$.ajax({
				type: "POST",
				url: "ajax/search/getall_networks.php",
				success: function(data) {
					$("#search_results").slideUp(function(){
						$("#search_results").html(data);
						$("#search_results").fadeIn(function(){
							$("#list_all_tab").html("All Networks");
							return false;
						});
					});
				}
			});
		});
		$('#special_case_dropdown a').click(function(e) {
			var radio = $(this).attr("href");
			$("input[value='"+radio+"']").prop("checked", true)
			e.preventDefault();
			e.stopPropagation();
		});
	});
</script>
{% endblock %}
