<html>
	<head>
		<title>{{ TITTLE }} - {{ USERNAME }}</title>
	</head>
	<body>
		<center><h1>{{ TITTLE }}</h1></center>
		<p>Errorcode: <b>{{ ERRORCODE }}</b> - ({{ ERRORCOMMENT }})  {{ ERRORINFILE }}</p></br>
		<p>{{ USERNAME }} typing:</p></br>
		<p>{{ CONTENT }}</p></br>
		<p>Repile to: {{ USEREMAIL }}</p>
	</body>
</html>