{% extends "base.html" %}

{% block title %}Editing File{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ settings.assets_url }}javascript/jquery.redirect.min.js"></script>
{% endblock %}

{% block servername %}
<ul class="nav navbar-nav">
	<li class="active dynUpdate" id="{{ server.id }}"><a><i id="applyUpdate" class="fa fa-circle-o-notch fa-spinner fa-spin spin-light"></i> {{ server.name }}</a></li>
</ul>
{% endblock %}

{% block sidebar %}
<div class="list-group">
	<a href="#" class="list-group-item list-group-item-heading"><strong>{{ lang.sidebar_acc_actions }}</strong></a>
	<a href="../../account.php" class="list-group-item">{{ lang.sidebar_settings }}</a>
	<a href="../../totp.php" class="list-group-item">TOTP {{ lang.sidebar_settings }}</a>
	<a href="../../servers.php" class="list-group-item">{{ lang.sidebar_servers }}</a>
</div>
<div class="list-group">
	<a href="#" class="list-group-item list-group-item-heading"><strong>{{ lang.sidebar_server_acc }}</strong></a>
	<a href="../index.php" class="list-group-item">{{ lang.sidebar_overview }}</a>
	{% if permission.files.view == true %}<a href="index.php" class="list-group-item active">{{ lang.sidebar_files }}</a>{% endif %}
	{% if permission.users.view == true %}<a href="../users/list.php" class="list-group-item">Manage Subusers</a>{% endif %}
	{% if permission.manage.view == true %}<a href="../settings.php" class="list-group-item">{{ lang.sidebar_manage }}</a>{% endif %}
</div>
{% endblock %}

{% block content %}
<div class="col-9" id="load_files">
	<span id="save_status" style="display:none;width: 100%;"></span>
	{% if error %}
		{{ error|raw }}
	{% else %}
	<form method="post" id="editing_file">
		<div class="form-group">
			<div>
				{% if (extension == "yaml") or (extension == "yml") %}
				<div class="alert alert-info">
					You are currently editing a YAML file. These files do not accept tabs, they must use spaces.
					We've gone ahead and made it so that hitting tab will insert
					<select id="space_yaml">
						<option value="2">2</option>
						<option value="4" selected="selected">4</option>
						<option value="8">8</option>
					</select>
					spaces.
				</div>
				{% endif %}
				<textarea name="file_contents" id="live_console" style="border: 1px solid #dddddd;height:500px;" class="form-control console">{{ contents }}</textarea>
			</div>
		</div>
		{% if permission.files.save == true %}
			<div class="form-group">
				<div>
					<input type="hidden" name="file" value="{{ file }}" />
					{{ xsrf|raw }}
					<button class="btn btn-primary btn-sm" id="save_file">{{ lang.string_save }}</button>
					<button class="btn btn-default btn-sm" onclick="window.location='index.php?dir={{ directory|url_encode }}';return false;">{{ lang.node_files_edit_back }}</button>
				</div>
			</div>
		{% endif %}
    </form>
    {% endif %}
</div>
<script type="text/javascript">
$(window).load(function() {
	$("textarea").keydown(function(e) {
		if(e.keyCode === 9) {
			var start = this.selectionStart;
			var end = this.selectionEnd;
			var $this = $(this);
			var value = $this.val();
			{% if (extension == "yaml") or (extension == "yml") %}var yamlSpaces = parseInt($("#space_yaml").val());{% endif %}
			$this.val(value.substring(0, start)
			+ {% if (extension == "yaml") or (extension == "yml") %}Array(yamlSpaces + 1).join(" "){% else %}"\t"{% endif %}
			+ value.substring(end));
			this.selectionStart = this.selectionEnd = start + {% if (extension == "yaml") or (extension == "yml") %}yamlSpaces{% else %}1{% endif %};
			e.preventDefault();
		}
	});
	$("#save_file").click(function(a) {
		a.preventDefault();
		var e = $("input[name='file']").val(),
		s = $("#live_console").val(),
		l = $("input[name='xsrf']").val();
		$("#save_file").append(' <i class="fa fa-spinner fa fa-spin"></i>').addClass("disabled"), $.ajax({
			type: "POST",
			url: "../ajax/files/save.php",
			data: {
				file: e,
				file_contents: s,
				xsrf: l
			},
			success: function(a) {
				$("#save_status").html(a), $("#save_file").html("Save").removeClass("disabled"), $("#save_status").slideDown()
			}
		})
	})
});
</script>
{% endblock %}
