{% extends "developer_base.html" %}

{% block title %}Manage many servers(developer ver.){% endblock %}

{% block content %}
<div class="col-9">
	<h3 class="nopad">Group manage(developer ver.)</h3><hr />
	{% if get.disp is defined and get.disp != 1 %}
		{% if get.disp == 's_stopped' %}
			<div class="alert alert-success">Stopped servers.</div>
		{% elseif get.disp == 's_started' %}
			<div class="alert alert-success">Started servers.</div>
		{% endif %}
	{% endif %}
	<div class="well">
		<form action="ajax/server/startgroup.php" method="POST">
			<fieldset>
				<h4>Start All</h4>
				<div class="row">
					<div class="form-group col-3">
						<div>
							<label for="gametype_name" class="control-label">GameType in Network:</label>
					        <select class="form-control" name="gametype_name">
					        	{% for name in gametype %}
									<option value="{{ name.id }}">{{ name.network_name }} ({{ name.name }})</option>
								{% endfor %}
					        </select>	
						</div>
					</div>
					<input type="submit" value="Start All" name="start_button" class="btn btn-primary btn-sm" style="margin: 24px 20px 0;"/>	
				</div>
			</fieldset>
		</form>	
	</div>
	<div class="well">
		<form action="ajax/server/stopgroup.php" method="POST">
			<fieldset>
				<h4>Stop All</h4>
				<div class="row">
					<div class="form-group col-3">
						<div>
							<label for="gametype_name" class="control-label">GameType in Network:</label>
					        <select class="form-control" name="gametype_name">
					        	{% for name in gametype %}
									<option value="{{ name.id }}">{{ name.network_name }} ({{ name.name }})</option>
								{% endfor %}
					        </select>	
						</div>
					</div>
					<div class="form-group col-3 nopad-right">
						<input type="checkbox" name="killit" value="1" style="margin: 35px 0 0 ;"> Kill servers<br>
					</div>
					<input type="submit" value="Stop All" name="stop_button" class="btn btn-primary btn-sm" style="margin: 24px -20px 0;"/>	
				</div>
			</fieldset>
		</form>	
	</div>
</div>
{% endblock %}
