{% extends "developer_base.html" %}

{% block title %}Developer Network Permissions{% endblock %}

{% block content %}
<div class="col-9">
	<div class="alert alert-danger"><i class="fa fa-warning"></i> This feature has not yet been implemented.</div>
</div>
{% endblock %}