{% extends "admin_base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="col-9">
        <div class="form-group col-4 nopad">
            <div id="search_results_network"></div>
        </div>
    <div class="form-group col-4 nopad-right" style="float:right;">
        <div id="search_results"></div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        function updateServerInNetworkStatus() {
            var nettworkID = "{{ id_network }}";
            $.ajax({
                type: "POST",
                url: "ajax/summary_network.php",
                data: { method: "simple", network_id: nettworkID },
                success: function(data) {
                    $("#search_results_network").html();
                    $("#search_results_network").html(data);
                    $("#search_results_network").fadeIn(function(){
                        $("#ss_active_spin").html('&rarr;');
                        return false;
                    });                    
                }
            });
        }
        updateServerInNetworkStatus();
        setInterval(updateServerInNetworkStatus, 8000);
        $('#special_case_dropdown a').click(function(e) {
            var radio = $(this).attr("href");
            $("input[value='"+radio+"']").prop("checked", true)
            e.preventDefault();
            e.stopPropagation();
        });
    });
</script>
{% endblock %}