{% extends "admin_base.html" %}

{% block title %}Manage Your Network{% endblock %}

{% block content %}
<div class="col-9">
	<h3 class="nopad">Manage Your Network</h3><hr />
	<a href="#" data-toggle="modal" data-target="#toggle_popup" id="t_popup">Add New Subuser to your Network</a>
    {% if srvgametype|length > 0 %}
        <div class="form-group col-4 nopad">
            <h4>Your Network Subusers</h4></hr>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>permissions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for id in srvgametype %}
                        <tr>
                            <td><a href="#" name="gametype_id" value="{{ id.id }}">{{ id.name }}</a></td>
                            <td>{{ id.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-info">
            You do not currently have any Gametypes listed on your account.
        </div>
    {% endif %}
</div>

{% endblock %}

{% block javascript %}
<div class="modal fade" id="toggle_popup" tabindex="-1" role="dialog" aria-labelledby="AddNewGametype" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="add_new_ip">Add New Gametype</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-1"></div>
					<div class="col-10">
						<form action="ajax/new/gametype.php" method="POST">
							<fieldset>
								<div class="well">
									<h4>Dodawanie nazwy trybu gry</h4>
									<div class="row">
										<div class="form-group col-4 nopad">
											<label for="gametype_name" class="control-label">Gametype name</label>
											<div>
												<input type="text" autocomplete="off" name="gametype_name" class="form-control" />
												<p class="text-muted" style="margin: 0 0 -10.5px;"><small><em>Gametype name np: CTP</em></small></p>
											</div>				
										</div>
										<input type="submit" value="Add Version" name="gametype_add_button" class="btn btn-primary btn-sm" style="margin: 24px 20px 0;"/>	
									</div>
								</div>
							</fieldset>
						</form>	
					</div>
					<div class="col-1"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}