<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
		{% block scripts %}
			<meta charset="UTF-8">
			<script type="text/javascript">var pageRenderStart = new Date().getTime();</script>
			<link rel="stylesheet" href="{{ settings.assets_url }}css/bootstrap.css">
			<link rel="stylesheet" href="{{ settings.assets_url }}css/bootstrap.min.css">
			<script src="{{ settings.assets_url }}javascript/jquery-2.1.3.min.js"></script>
			<script src="{{ settings.assets_url }}javascript/bootstrap.min.js"></script>
			<script src="{{ settings.assets_url }}javascript/admin.min.js"></script>
			<script src="{{ settings.assets_url }}javascript/jquery.cookie.js"></script>
			<script src="{{ settings.assets_url }}javascript/jquery.debounce.js"></script>
			<script src="{{ settings.assets_url }}javascript/jquery.redirect.min.js"></script>
			<script src="{{ settings.assets_url }}javascript/socket.io.min.js"></script>
			<script type="text/javascript" src="https://www.google.com/jsapi"></script>
			<link href="{{ settings.assets_url }}javascript/summernote.css" rel="stylesheet">
			<script src="{{ settings.assets_url }}javascript/summernote.min.js"></script>
			<script src='https://www.google.com/recaptcha/api.js'></script>
		{% endblock %}
		<title>{{ settings.company_name }} - {% block title %}{% endblock %}</title>
	{% endblock %}
</head>
<body>
	<div class="container">
		<div class="navbar navbar-default" style="background-color:#222; margin-top:-3px;">
			{% if totpdeveloper %}
				<div class="alert alert-danger"><strong>WARNING!</strong> You are developer user but you dont have activated TOTP function. Please visit<a href="{{ settings.master_url }}totp.php">TOTP settings page</a>.
				</div>
			{% endif %}
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ settings.master_url }}" style="color:#e7e7e7;">{{ settings.company_name }}</a>
			</div>
			{% block servername %}{% endblock %}
			<div class="navbar-collapse navbar-responsive-collapse collapse" style="height: 1px;">
				<ul class="nav navbar-nav navbar-right">
					{% if developer %}<li><a href="{{ settings.master_url }}developer/index.php"><i class="fa fa-star" style="color:#e7e7e7;"></i></a></li>{% endif %}
					{% if admin %}<li><a href="{{ settings.master_url }}admin/index.php"><i class="fa fa-cogs" style="color:#e7e7e7;"></i></a></li>{% endif %}
					<li><a href="{{ settings.master_url }}logout.php"><i class="fa fa-power-off" style="color:#e7e7e7;"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				{% block sidebar %}{% endblock %}
			</div>
			{% block content %}{% endblock %}
		</div>
		<div class="footer">
			<div class="row">
				<div class="col-8 ">
					<p><a href="http://meetnet.pl/">MeetNet Group</a>
					<a href="{{ settings.master_url }}mail.php" style="padding-left:8px;">Report bug</a></p>
				</div>
				<div class="col-4">
					{% if developer %}
						<a href="#" data-toggle="modal" data-target="#notes_popup" id="t_popup" name="popup_notes"><i class="fa fa-clipboard" style="float:right;"></i></a>
						<a href="#" data-toggle="modal" data-target="#error_popup" id="t_popup" name="popup_error"><i class="fa fa-exclamation-triangle" style="padding-right:14px; float:right;"></i></a>
					{% endif %}
				</div>
				<input type="hidden" id="assets_url" value="{{ settings.assets_url }}">
				<input type="hidden" id="master_url" value="{{ settings.master_url }}">
				<input type="hidden" id="userrko" value="{{ userko.id }}">
			</div>
			<!-- POPUPS -->
			<!--NOTE CRATOR -->
			<div class="modal fade" id="notes_popup" tabindex="-1" role="dialog" aria-labelledby="Notes" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content" style="width:140%;">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<a href="#" name="add_note" style="float:right; margin-right:30px; margin-top:3px;">Add New Note</a>
							<h4 class="modal-title" id="add_new_ip">Notes</h4>
						</div>
						<div class="modal-body">
							<div class="row">
									<div class="form-group col-4 nopad" style="margin-left:15px;">
							            <div id="search_results_notes"></div>
							        </div>
							        <div class="form-group col-7 nopad-right">
							            <div id="edit_results_notes"></div>
							        </div>
								<div class="col-1"></div>
							</div>
							<div class="row">
								<div class="form-group col-4 nopad-right" style="margin-left:15px;">
							        <div id="note_save_results"></div>
							    </div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<!--ERROR CRATOR -->
			<div class="modal fade" id="error_popup" tabindex="-1" role="dialog" aria-labelledby="Notes" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content" style="width:140%;">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="add_new_ip">Error Code Creator</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-1"></div>
								<div class="col-10">
									<div id="error_creator_content"></div>
								</div>
								<div class="col-1"></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<!-- END POPUPS -->
			<script type="text/javascript">
			$(document).ready(function(){
				if($.urlParam('tab') != null){$('#config_tabs a[href="#'+$.urlParam('tab')+'"]').tab('show');}
				function updateServerStatus() {
					$(".dynUpdate").each(function(index, data){
						var element = $(this);
						var connection = element.attr("id");
						if(element.find("#applyUpdate").hasClass("spin-light")){var c = {"color": "#fff"};} else {var c = {"color": "#000"};}
						element.find("#applyUpdate").removeClass("fa-circle").css(c);
						element.find("#applyUpdate").addClass("fa-circle-o-notch fa-spinner fa-spin");
						$.ajax({
							type: "POST",
							url: "{{ settings.master_url }}ajax/get_status.php",
							data: { server: connection },
							success: function(data) {
									element.find("#applyUpdate").removeClass("fa-circle-o-notch fa-spinner fa-spin");
									element.find("#applyUpdate").addClass("fa-circle").css({"color": data});
							}
						});
					});
				}
				setInterval(updateServerStatus, 15000);


				$("[name='add_note']").click(function(){
				    $.ajax({
				        type: "POST",
				        url: "{{ settings.master_url }}ajax/add_note.php",
				        data: { method: "simple", test: 'test' },
				        success: function(data) {
				            $("#edit_results_notes").slideUp(function(){
				                $("#edit_results_notes").html();
				                $("#edit_results_notes").html(data);
				                $("#edit_results_notes").fadeIn(function(){
				                    $("#ss_active_spin").html('&rarr;');
				                    return false;
				                });
				            });
				        }
				    });
				});
				$("[name='popup_notes']").click(function(){
				    var ownerID = '{{ userko.id }}';
				    $.ajax({
				        type: "POST",
				        url: "{{ settings.master_url }}ajax/search_note.php",
				        data: { method: "simple", owner_id: ownerID },
				        success: function(data) {
				            $("#search_results_notes").slideUp(function(){
				                $("#search_results_notes").html();
				                $("#search_results_notes").html(data);
				                $("#search_results_notes").fadeIn(function(){
				                    $("#ss_active_spin").html('&rarr;');
				                    return false;
				                });
				            });
				        }
				    });
				});
				$("[name='popup_error']").click(function(){
					var url = document.URL;
				    $.ajax({
				        type: "POST",
				        url: "{{ settings.master_url }}ajax/error_create_popup.php",
				        data: { method: "simple", file_url: url },
				        success: function(data) {
				            $("#error_creator_content").slideUp(function(){
				                $("#error_creator_content").html();
				                $("#error_creator_content").html(data);
				                $("#error_creator_content").fadeIn(function(){
				                    $("#ss_active_spin").html('&rarr;');
				                    return false;
				                });
				            });
				        }
				    });
				});
				$('#special_case_dropdown a').click(function(e) {
		            var radio = $(this).attr("href");
		            $("input[value='"+radio+"']").prop("checked", true)
		            e.preventDefault();
		            e.stopPropagation();
		        });


			});
			for(var queryParameters={},queryString=location.search.substring(1),re=/([^&=]+)=([^&]*)/g,m;m=re.exec(queryString);)queryParameters[decodeURIComponent(m[1])]=decodeURIComponent(m[2]);$("a[data-toggle='tab']").click(function(){queryParameters.tab=$(this).attr("href").substring(1),window.history.pushState(null,null,location.pathname+"?"+$.param(queryParameters))});
			$(window).load(function() {
				var elapsed = parseInt(new Date().getTime() - pageRenderStart) / 1000;
				$("#p_render_time").html(elapsed);
				$('#summernote').summernote({
				  height: 130,
				  minHeight: null,
				  maxHeight: null,
				    toolbar: [
				    /*[groupname, [button list]]
						Insert	
						picture	Insert a picture
						link	Insert a hyperlink
						video	Insert a video
						table	Insert a table
						hr	Insert a horizontal rule
						Style	
						style	Format selected block
						fontname	Set font family
						fontsize	Set font size
						color	Set foreground and background color
						bold	Toggle weight
						italic	Toggle italic
						underline	Toggle underline
						strikethrough	Toggle strikethrough
						clear	Clearing all styles
						Layout	
						ul	Make an un-ordered list
						ol	Make an ordered list
						paragraph	Set text alignment
						height	Set height of text
						Misc	
						fullscreen	Toggle fullscreen editing mode
						codeview	Toggle wysiwyg and html editing mode
						undo	Undo
						redo	Redo
						help	Show help dialog
				    */
				    ['style', ['fontname', 'fontsize', 'bold', 'italic', 'underline', 'clear']],
				    ['color', ['color']],
				    ['para', ['ul', 'ol', 'paragraph']],
				    ['height', ['height']],
				    //['insert', ['picture']],
				  ]
				});
			});
			var postForm = function() {
				var content = $('textarea[name="content"]').html($('#summernote').code());
			}
			</script>
		</div>
	</div>
</body>
</html>
