<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
		{% block scripts %}
			<meta charset="UTF-8">
			<script type="text/javascript">var pageRenderStart = new Date().getTime();</script>
			<link rel="stylesheet" href="{{ settings.assets_url }}css/bootstrap.css">
			<link rel="stylesheet" href="{{ settings.assets_url }}css/bootstrap.min.css">
			<script src="{{ settings.assets_url }}javascript/jquery-2.1.3.min.js"></script>
			<script src="{{ settings.assets_url }}javascript/bootstrap.min.js"></script>
			<script src="{{ settings.assets_url }}javascript/admin.min.js"></script>
			<script src="{{ settings.assets_url }}javascript/jquery.cookie.js"></script>
			<script src="{{ settings.assets_url }}javascript/jquery.debounce.js"></script>
			<script src="{{ settings.assets_url }}javascript/jquery.redirect.min.js"></script>
			<script src="{{ settings.assets_url }}javascript/socket.io.min.js"></script>
			<script type="text/javascript" src="https://www.google.com/jsapi"></script>
			<link href="{{ settings.assets_url }}javascript/summernote.css" rel="stylesheet">
			<script src="{{ settings.assets_url }}javascript/summernote.min.js"></script>
			<script src='https://www.google.com/recaptcha/api.js'></script>
		{% endblock %}
		<title>{{ settings.company_name }} Developer section - {% block title %}{% endblock %}</title>
	{% endblock %}
</head>
<body>
	<div class="container">
		<div class="navbar navbar-default" style="background-color:#222; margin-top:-3px;">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ settings.master_url }}developer/index.php" style="color:#e7e7e7;">developer section</a>
			</div>
			<div class="navbar-collapse navbar-responsive-collapse collapse" style="height: 1px;">
				<ul class="nav navbar-nav navbar-right">
					{% if admin %}<li><a href="{{ settings.master_url }}admin/index.php"><i class="fa fa-cogs" style="color:#e7e7e7;"></i></a></li>{% endif %}
					<li><a href="{{ settings.master_url }}servers.php"><i class="fa fa-list-alt" style="color:#e7e7e7;"></i></a></li>
					<li><a href="{{ settings.master_url }}logout.php"><i class="fa fa-power-off" style="color:#e7e7e7;"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<div class="list-group">
					<a href="{{ settings.master_url }}developer/index.php" id="sidenav_admin-index" class="list-group-item">Developer Index</a>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-heading"><strong>Settings</strong></a>
					<a href="{{ settings.master_url }}developer/config/global.php" id="sidenav_config-global" class="list-group-item">Global Settings</a>
					<a href="{{ settings.master_url }}developer/config/urls.php" id="sidenav_config-urls" class="list-group-item">URL Settings</a>
					<a href="{{ settings.master_url }}developer/config/email.php" id="sidenav_config-email" class="list-group-item">Email Settings</a>
					<a href="{{ settings.master_url }}developer/config/captcha.php" id="sidenav_config-captcha" class="list-group-item">Captcha Settings</a>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-heading"><strong>Networks Management</strong></a>
					<a href="{{ settings.master_url }}developer/networks/create.php" id="sidenav_network-create" class="list-group-item">Create Network</a>
					<a href="{{ settings.master_url }}developer/networks/find.php" id="sidenav_network-find" class="list-group-item">Find Network</a>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-heading"><strong>Account Management</strong></a>
					<a href="{{ settings.master_url }}developer/account/find.php" id="sidenav_account-find" class="list-group-item">Find Account</a>
					<a href="{{ settings.master_url }}developer/account/new.php" id="sidenav_account-new" class="list-group-item">New Account</a>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-heading"><strong>Server Management</strong></a>
					<a href="{{ settings.master_url }}developer/server/add.php" id="sidenav_server-add" class="list-group-item">New Server</a>
					<a href="{{ settings.master_url }}developer/server/groupmanage.php" id="sidenav_server-manage" class="list-group-item">Group Servers Manage</a>
					<a href="{{ settings.master_url }}developer/server/addgroup.php" id="sidenav_server-servers" class="list-group-item">New group Servers</a>
					<a href="{{ settings.master_url }}developer/server/engines.php" id="sidenav_server-engines" class="list-group-item">Engines</a>
					<a href="{{ settings.master_url }}developer/server/somethings.php" id="sidenav_server-somethings" class="list-group-item">Add Somethings</a>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-heading"><strong>Node Management</strong></a>
					<a href="{{ settings.master_url }}developer/node/list.php" id="sidenav_node-list" class="list-group-item">List Nodes</a>
					<a href="{{ settings.master_url }}developer/node/add.php" id="sidenav_node-add" class="list-group-item">Add Node</a>
					<a href="{{ settings.master_url }}developer/node/locations.php" id="sidenav_node-locations" class="list-group-item">Manage Locations</a>
					<a href="{{ settings.master_url }}developer/node/delete.php" id="sidenav_node-delete" class="list-group-item">Delete Node</a>
				</div>
			</div>
			{% block content %}{% endblock %}
		</div>
		<div class="footer">
			<div class="row">
				<div class="col-8 ">
					<p><a href="http://meetnet.pl/">MeetNet Group</a>
					<a href="{{ settings.master_url }}mail.php" style="padding-left:8px;">Report bug</a></p>
				</div>
				<div class="col-4">
					{% if developer %}
						<a href="#" data-toggle="modal" data-target="#notes_popup" id="t_popup" name="popup_notes"><i class="fa fa-clipboard" style="float:right;"></i></a>
						<a href="#" data-toggle="modal" data-target="#error_popup" id="t_popup" name="popup_error"><i class="fa fa-exclamation-triangle" style="padding-right:14px; float:right;"></i></a>
					{% endif %}
				</div>
				<input type="hidden" id="assets_url" value="{{ settings.assets_url }}">
				<input type="hidden" id="master_url" value="{{ settings.master_url }}">
				<input type="hidden" id="userrko" value="{{ userko.id }}">
			</div>
			<script type="text/javascript">
				if($.urlParam('tab') != null){$('#config_tabs a[href="#'+$.urlParam('tab')+'"]').tab('show');}
			</script>
		</div>
	</div>
	<!-- POPUPS -->
	<!--NOTE CRATOR -->
	<div class="modal fade" id="notes_popup" tabindex="-1" role="dialog" aria-labelledby="Notes" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="width:140%;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<a href="#" name="add_note" style="float:right; margin-right:30px; margin-top:3px;">Add New Note</a>
					<h4 class="modal-title" id="add_new_ip">Notes</h4>
				</div>
				<div class="modal-body">
					<div class="row">
							<div class="form-group col-4 nopad" style="margin-left:15px;">
					            <div id="search_results_notes"></div>
					        </div>
					        <div class="form-group col-7 nopad-right">
					            <div id="edit_results_notes"></div>
					        </div>
						<div class="col-1"></div>
					</div>
					<div class="row">
						<div class="form-group col-4 nopad-right" style="margin-left:15px;">
					        <div id="note_save_results"></div>
					    </div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!--ERROR CRATOR -->
	<div class="modal fade" id="error_popup" tabindex="-1" role="dialog" aria-labelledby="Notes" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="width:140%;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="add_new_ip">Error Code Creator</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-1"></div>
						<div class="col-10">
							<div id="error_creator_content"></div>
						</div>
						<div class="col-1"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END POPUPS -->
	{% block javascript %}{% endblock %}
	<script type="text/javascript">
	$(document).ready(function(){
				if($.urlParam('tab') != null){$('#config_tabs a[href="#'+$.urlParam('tab')+'"]').tab('show');}
				function updateServerStatus() {
					$(".dynUpdate").each(function(index, data){
						var element = $(this);
						var connection = element.attr("id");
						if(element.find("#applyUpdate").hasClass("spin-light")){var c = {"color": "#fff"};} else {var c = {"color": "#000"};}
						element.find("#applyUpdate").removeClass("fa-circle").css(c);
						element.find("#applyUpdate").addClass("fa-circle-o-notch fa-spinner fa-spin");
						$.ajax({
							type: "POST",
							url: "{{ settings.master_url }}ajax/get_status.php",
							data: { server: connection },
							success: function(data) {
									element.find("#applyUpdate").removeClass("fa-circle-o-notch fa-spinner fa-spin");
									element.find("#applyUpdate").addClass("fa-circle").css({"color": data});
							}
						});
					});
				}
				updateServerStatus();
				setInterval(updateServerStatus, 3000);
				$("[name='add_note']").click(function(){
				    $.ajax({
				        type: "POST",
				        url: "{{ settings.master_url }}ajax/add_note.php",
				        data: { method: "simple", test: 'test' },
				        success: function(data) {
				            $("#edit_results_notes").slideUp(function(){
				                $("#edit_results_notes").html();
				                $("#edit_results_notes").html(data);
				                $("#edit_results_notes").fadeIn(function(){
				                    $("#ss_active_spin").html('&rarr;');
				                    return false;
				                });
				            });
				        }
				    });
				});
				$("[name='popup_notes']").click(function(){
				    var ownerID = '{{ userko.id }}';
				    $.ajax({
				        type: "POST",
				        url: "{{ settings.master_url }}ajax/search_note.php",
				        data: { method: "simple", owner_id: ownerID },
				        success: function(data) {
				            $("#search_results_notes").slideUp(function(){
				                $("#search_results_notes").html();
				                $("#search_results_notes").html(data);
				                $("#search_results_notes").fadeIn(function(){
				                    $("#ss_active_spin").html('&rarr;');
				                    return false;
				                });
				            });
				        }
				    });
				});
				$("[name='popup_error']").click(function(){
					var url = document.URL;
				    $.ajax({
				        type: "POST",
				        url: "{{ settings.master_url }}ajax/error_create_popup.php",
				        data: { method: "simple", file_url: url },
				        success: function(data) {
				            $("#error_creator_content").slideUp(function(){
				                $("#error_creator_content").html();
				                $("#error_creator_content").html(data);
				                $("#error_creator_content").fadeIn(function(){
				                    $("#ss_active_spin").html('&rarr;');
				                    return false;
				                });
				            });
				        }
				    });
				});
				$('#special_case_dropdown a').click(function(e) {
		            var radio = $(this).attr("href");
		            $("input[value='"+radio+"']").prop("checked", true)
		            e.preventDefault();
		            e.stopPropagation();
		        });
			});
		if($.urlParam("error")!=null){var field=$.urlParam("error");var exploded=field.split("|");$.each(exploded,function(key,value){$('[name="'+value+'"]').parent().parent().addClass("has-error")});var obj=$.parseJSON($.cookie("__TMP_pp_admin_updateglobal"));$.each(obj,function(key,value){$('[name="'+key+'"]').val(value)})};
		for(var queryParameters={},queryString=location.search.substring(1),re=/([^&=]+)=([^&]*)/g,m;m=re.exec(queryString);)queryParameters[decodeURIComponent(m[1])]=decodeURIComponent(m[2]);$("a[data-toggle='tab']").click(function(){queryParameters.tab=$(this).attr("href").substring(1),window.history.pushState(null,null,location.pathname+"?"+$.param(queryParameters))});
		$(window).load(function() {
			var elapsed = parseInt(new Date().getTime() - pageRenderStart) / 1000;
			$("#p_render_time").html(elapsed);
		});
	</script>
</body>
</html>
