{% extends "base.html" %}

{% block title %}Report bug{% endblock %}

{% block scripts %}
  {{ parent() }}
    <script type="text/javascript">
    var RecaptchaOptions = {
      theme : 'custom',
      custom_theme_widget: 'recaptcha_widget'
    };
  </script>
{% endblock %}

{% block sidebar %}
<div class="list-group">
	<a href="#" class="list-group-item list-group-item-heading"><strong>{{ lang.sidebar_acc_actions }}</strong></a>
	<a href="account.php" id="sidenav_settings-account" class="list-group-item">{{ lang.sidebar_settings }}</a>
	<a href="totp.php" id="sidenav_settings-totp" class="list-group-item">TOTP {{ lang.sidebar_settings }}</a>
	<a href="servers.php" id="sidenav_settings-servers" class="list-group-item active">{{ lang.sidebar_servers }}</a>
</div>
{% endblock %}

{% block content %}
<div class="col-9">
  {% if get.disp is defined and get.disp != 1 %}
      {% if get.disp == 'captcha' %}<div class="alert alert-danger">Incorrect code. Try again.</div>
      {% elseif get.disp == 'missing_args' %}<div class="alert alert-danger">Please, insert all data.</div>
      {% elseif get.disp == 'e_sent' %}<div class="alert alert-success">Report sent. Thank You :)</div>
      {% elseif get.disp == 't_fail' %}<div class="alert alert-danger">Tittle does not meet the requirements (4-35 characters, a-z A-Z 0-9 _ -).</div>
      {% endif %}
  {% endif %}

  <form action="ajax/bug_report.php" method="post">
    <fieldset>
      <div class="form-group col-8 nopad">
        <label for="error_title" class="control-label">Tittle:</label>
        <div>
          <input type="text" autocomplete="off" name="error_title" class="form-control" value="{{ text_editor_tittle }}" />
        </div>
      </div>
      <div class="form-group col-4 nopad-right">
        <label for="error_selector" class="control-label">Problem:</label>
        <div>
          <select class="form-control" name="error_selector">
            <option value="error">Error</option>
            <option value="idea">Idea</option>
            <option value="payments">Payments</option>
            <option value="other">Other</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="pass_2" class="control-label">Input text:</label>
        <div>
          <textarea id="summernote" name="content" placeholder="Text to send">{{ text_editor }}</textarea>
        </div>
      </div>
      <div class="form-group">
          <label for="recaptcha_response_field" class="control-label">{{ lang.string_spam_protection }} <a href="javascript:Recaptcha.reload()">{{ lang.string_refresh }}</a></label>
          <div>
            <div class="col-4" style="padding-left: 0;">
              <input type="text" class="form-control" id="recaptcha_response_field" name="recaptcha_response_field"/>
            </div>
            <div class="col-5" style="margin-top:-10px;margin-bottom:20px;">
              <div id="recaptcha_image"></div>
            </div>
            <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k={{ settings.captcha_pub }}"></script>
            <noscript>
              <iframe src="http://www.google.com/recaptcha/api/noscript?k={{ settings.captcha_pub }}"
            height="300" width="500" frameborder="0"></iframe><br>
              <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
              <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
            </noscript>
          </div>
        </div>
      <div class="form-group col-3 nopad-right">
        <div>
          <input type="text" autocomplete="off" name="error_code" value="{{ error_codek }}" style="visibility: hidden"/>
          <button class="btn btn-primary" id="SubmitArtikel" type="submit" style="float:right;">Send</button>
        </div>
      </div>
    </fieldset>
  </form> 
</div>
{% endblock %}

{% block javascript %}

{% endblock %}
