{% extends "admin_base.html" %}

{% block title %}Add a New Engine{% endblock %}

{% block content %}
<div class="col-9">
	<ul class="nav nav-tabs" id="engine_tabs">
		<li class="active"><a href="#engine_list" data-toggle="tab">List</a></li>
		<li><a href="#engine_add" data-toggle="tab">Add</a></li>
	</ul>

	{% if get.disp is defined and get.disp != 1 %}
		<div class="alert alert-danger">
			{% if get.disp == 'missing_args' %} Not all arguments were passed by the script.
			{% elseif get.disp == 'size_or_extension' %}Zle rozszerzenie(tylko jar) lub zbyt duzy plik(25MB max).
			{% elseif get.disp == 'exist' %} Taki silnik juz istnieje w bazie.
			{% elseif get.disp == 'engine_deleted' %} Usunieto silnik z bazy i z folderu silnikow.
			{% endif %}
		</div>
	{% endif %}
	<div class="tab-content">
		<div class="tab-pane active" id="engine_list">
		<h3>All Engines</h3><hr />
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th style="width:2%"></th>
						<th>Engine Name</th>
						<th>Info</th>
						<th>Gamever</th>
						<th style="width:2%"></th>
					</tr>
				</thead>
				<tbody>
					{% for id in engine %}
						<tr>
							<td>{{ id.id }}</td>
							<td>{{ id.file }}</td>
							<td>{{ id.info }}</a></td>
							<td>{{ id.gamever }}</td>
							<td><form method="post" action="ajax/server/delete_engine.php"><button class="btn-block" type="submit" name="engine_id" value="{{ id.id }}"><i class="fa fa-remove"></i></button></form></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="tab-pane" id="engine_add">
			<h3>Dodawanie wersji silnika</h3>
			<div class="well">
				<form method="post" action="ajax/new/engine_add.php" enctype="multipart/form-data">
					<fieldset>
						<div class="row">
					    	<div class="form-group col-3 nopad">
						    	<label for="enginefile" class="control-label">Engine file</label>
						    	<input type="file" name="enginefile" id="fileToUpload">
						    </div>
						</div>
						<div class="row">
						    <div class="form-group col-3 nopad">
						     	<label for="engine_type" class="control-label">Engine type</label>
						     	<select class="form-control" name="engine_type">
				                    <option value="spigot">Spigot</option>
				                    <option value="bukkit">Bukkit</option>
				                    <option value="craftbukkit">CraftBukkit</option>
				                    <option value="sponge">Sponge</option>
								</select>
							</div>
							<div class="form-group col-3">
								<label for="engine_gamever" class="control-label">Engine gamever</label>
						        <select class="form-control" name="engine_gamever">
						        	{% for name in vername %}
										<option value="{{ name.name }}">{{ name.name }}</option>
									{% endfor %}
						        </select>
				            </div>
				            <div class="form-group col-3">
				               	<label for="engine_status" class="control-label">Engine type</label>
			                	<select class="form-control" name="engine_status"> 
					                <option value="dev">Dev</option>
					                <option value="official">Official</option>
					                <option value="beta">Beta</option>
				               	</select>
				            </div>
				        </div>
				        <div class="form-group col-3 nopad">
				            <label for="engine_info" class="control-label">Short info about engine</label>
				            <input type="text" name="engine_info">
				            <p class="text-muted" style="margin: 0 0 -10.5px;"><small><em>Not required</em></small></p>
				        </div>
			            <input type="submit" value="Add Engine" name="engineadd_button" class="btn btn-primary btn-sm" style="margin: 24px 0 0 40px;"/>	
					</fieldset>
				</form>
			</div>	
		</div>
	</div>
</div>
{% endblock %}
