{% extends "admin_base.html" %}

{% block title %}Add a New Engine{% endblock %}

{% block content %}
<div class="col-9">
	<h3 class="nopad">Add new </h3><hr />
	{% if get.disp is defined and get.disp != 1 %}
		<div class="alert alert-danger">
			{% if get.disp == 'missing_args' %} Not all arguments were passed by the script.
			{% elseif get.disp == 'size_or_extension' %}Zle rozszerzenie(tylko jar) lub zbyt duzy plik(25MB max).
			{% endif %}
		</div>
	{% endif %}
	<form action="ajax/new/engine.php" method="POST">
		<fieldset>
			<div class="well">
				<h4>Dodawanie wersji gry</h4>
				<div class="row">
					<div class="form-group col-4 nopad">
						<label for="engine_name" class="control-label">Version Name</label>
						<div>
							<input type="text" autocomplete="off" name="engine_name" class="form-control" />
							<p class="text-muted" style="margin: 0 0 -10.5px;"><small><em>Version name np: 1.7.10</em></small></p>
						</div>				
					</div>
					<input type="submit" value="Add Version" name="version_add_button" class="btn btn-primary btn-sm" style="margin: 24px 0 0;"/>	
				</div>
			</div>
		</fieldset>
	</form>
	<form action="ajax/new/gametype.php" method="POST">
		<fieldset>
			<div class="well">
				<h4>Dodawanie nazwy trybu gry</h4>
				<div class="row">
					<div class="form-group col-4 nopad">
						<label for="gametype_name" class="control-label">Gametype name</label>
						<div>
							<input type="text" autocomplete="off" name="gametype_name" class="form-control" />
							<p class="text-muted" style="margin: 0 0 -10.5px;"><small><em>Gametype name np: CTP</em></small></p>
						</div>				
					</div>
					<div class="form-group col-3 nopad-right" style="margin-top: 24px;">
	                    <select class="form-control" name="network_name">
	                        <option value="---">---</option>
	                        {% for name in networkname %}
                            	<option value="{{ name.id }}">{{ name.name }}</option>
                        	{% endfor %}
	                    </select>               
                	</div>
					<input type="submit" value="Add Version" name="gametype_add_button" class="btn btn-primary btn-sm" style="margin: 24px 20px 0;"/>	
				</div>
			</div>
		</fieldset>
	</form>
	<form action="ajax/new/networkname.php" method="POST">
		<fieldset>
			<div class="well">
				<h4>Dodawanie nazwy Sieci</h4>
				<div class="row">
					<div class="form-group col-4 nopad">
						<label for="network_name" class="control-label">Network name</label>
						<div>
							<input type="text" autocomplete="off" name="network_name" class="form-control" />
							<p class="text-muted" style="margin: 0 0 -10.5px;"><small><em>Network name np: MeetGame</em></small></p>
						</div>				
					</div>
					<input type="submit" value="Add Version" name="network_add_button" class="btn btn-primary btn-sm" style="margin: 24px 0 0;"/>	
				</div>
			</div>
		</fieldset>
	</form>		
</div>
{% endblock %}
